@font-face {
    font-family: Keanu-B;
    src: url(../font/KeanuBold.ttf);
}

@font-face {
    font-family: Keanu-R;
    src: url(../font/KeanuRegular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Keanu-R;
}

a {
    color: #fff;
}

body {
    background-color: #111119;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    border: 5px solid #0ce486;
    max-width: 1400px;
    width: 100%;
    padding: 0 45px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

.left-links,
.right-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 80%;
    min-width: 200px;
}

.left-links a,
.right-links a {
    padding: 8px 0;
    border: 2px solid #ff000000;
    transition: padding 0.5s;
}

.left-links a:hover,
.right-links a:hover {
    color: #0ce486;
    border: 2px solid #0ce486;
    padding: 8px 10px 8px 30px;
    background-color: #0ce4862e;
}

.logo-container {
    width: 100px;
}

.logo-container img {
    width: 100%;
}

/*  Content    */

.home-container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hc-left,
.hc-right {
    width: 50%;
}

.hc-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #4b4b54;
    font-size: 22px;
}

p strong {
    color: #0ce486;
}

.h1-tag {
    padding-left: 40px;
}

.h1-tag strong {
    font-size: 70px;
    line-height: 1.1em;
    color: #fff;
}

.job-tag {
    margin-top: 40px;
}

.cv-container::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 25px;
    border-radius: 100%;
    border-right: 2px solid #fff;
    border-top: 2px solid #111119;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #111119;
    animation: rotate2 8s linear infinite;
}

.cv-container {
    position: relative;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.cv-container::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 50px;
    border-radius: 100%;
    border-top: 2px solid #fff;
    border-right: 2px solid #111119;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #111119;
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.cv-container img {
    width: 340px;
    opacity: 0.3;
    transform: rotate(-35deg);
}

.cv-container .job-tag {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translate(0%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    border-radius: 100%;
}

.cv-container .job-tag:hover {
    background-color: #0ce4867f;
}

svg {
    width: 50%;
    margin: 20px 0 0 0;
}

.portfolio-title,
.skills-title {
    display: flex;
    justify-content: center;
}

.portfolio-title .h1-tag,
.skills-title .h1-tag {
    display: flex;
    align-items: center;
}

.portfolio-title {
    margin-bottom: 100px;
}

.portfolio-content-wrapper {
    display: flex;
    width: 100%;
}

.pc-left,
.pc-right {
    width: 50%;
}

.pc-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-project-container::before {
    content: '';
    position: absolute;
    border: 2px solid #ffffff3b;
    padding: 25px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.portfolio-project-container {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    border: 2px solid #666666;
    background-image: url(../img/projekti-1.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0 8px #111119, 0 0 0 10px #ffffff42;
}

.portfolio-project-container::after {
    content: '';
    position: absolute;
    border: 2px solid #ffffff1c;
    padding: 50px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
}

.portfolio-content-wrapper .pc-right .h1-tag {
    padding-left: 45px;
}

.portfolio-content-wrapper .pc-right .job-tag {
    margin-top: 0px;
}

.carousel-arrows-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.carousel-btn-prev,
.carousel-btn-next {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 15px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

.carousel-btn-prev img,
.carousel-btn-next img {
    width: 30px;
}

.carousel-btn-prev img {
    padding-right: 5px;
}

.carousel-btn-next img {
    padding-left: 5px;
}

.carousel-btn-prev:hover,
.carousel-btn-next:hover {
    transform: scale(1.3);
}



