@font-face {
    font-family: Keanu-B;
    src: url(../font/KeanuBold.ttf);
}

@font-face {
    font-family: Keanu-R;
    src: url(../font/KeanuRegular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Keanu-R;
}

/* html {
    scroll-behavior: smooth;
} */

a {
    color: #fff;
}

body {
    background-color: #111119;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    border: 5px solid #0ce486;
    max-width: 1400px;
    width: 100%;
    padding: 0 45px;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    position: sticky;
    width: calc(100% - -90px);
    padding: 0 45px;
    margin: 0 -45px;
    z-index: 999;
    background: #111119e3;
}

.left-links,
.right-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 80%;
    width: 250px;
    max-width: 350px;
}

.right-links {
    align-items:flex-end;
}

.left-links a,
.right-links a {
    padding: 8px 0;
    border: 2px solid #ff000000;
    transition: padding 0.5s;
}

.left-links a:hover,
.right-links a:hover {
    color: #0ce486;
    border: 2px solid #0ce486;
    padding: 8px 10px 8px 30px;
    background-color: #0ce4862e;
}

.logo-container {
    width: 100px;
}

.logo-container img {
    width: 100%;
}

/*  Content    */

.home-container {
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hc-left,
.hc-right {
    width: 50%;
}

.hc-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: #4b4b54;
    font-size: 22px;
}

p strong {
    color: #0ce486;
}

.hc-left .h1-tag {
    padding-left: 40px;
}

.h1-tag strong {
    font-size: 70px;
    line-height: 1.1em;
    color: #fff;
}

.job-tag {
    margin-top: 40px;
}

.job-tag-small {
    display: none;
}

.cv-container::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 25px;
    border-radius: 100%;
    border-right: 2px solid #fff;
    border-top: 2px solid #111119;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #111119;
    animation: rotate2 8s linear infinite;
}

.cv-container {
    position: relative;
    min-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 100%;
    width: 250px;
    height: 250px;
}

.cv-container::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 50px;
    border-radius: 100%;
    border-top: 2px solid #fff;
    border-right: 2px solid #111119;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #111119;
    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.cv-container img {
    width: 340px;
    opacity: 0.3;
    transform: rotate(-35deg);
}

.cv-container .job-tag {
    position: absolute;
    top: 50%;
    margin: 0;
    transform: translate(0%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
    border-radius: 100%;
    background: #202823ad;
    transition: all 0.5s;
}

.cv-container .job-tag:hover {
    background-color: #0ce4867f;
}

svg {
    width: 50%;
    margin: 20px 0 0 0;
}

.portfolio-title,
.skills-title {
    display: flex;
    justify-content: center;
}

.portfolio-title .h1-tag,
.skills-title .h1-tag {
    display: flex;
    align-items: center;
}

.skills-title {
    margin-bottom: 60px;
    padding-top: 30px;
}

.portfolio-title {
    margin-bottom: 100px;
    padding-top: 40px;
}

.portfolio-content-wrapper {
    display: flex;
    width: 100%;
}

.pc-left,
.pc-right {
    width: 50%;
}

.pc-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-project-container::before {
    content: '';
    position: absolute;
    border: 2px solid #ffffff3b;
    padding: 15px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    animation: border-animation 2.5s alternate-reverse infinite;
}

.portfolio-project-container {
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-project-container::after {
    content: '';
    position: absolute;
    border: 2px solid #ffffff1c;
    padding: 40px;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    animation: border-animation 2.2s alternate-reverse infinite;
}

@keyframes border-animation {
    0% {
        opacity: 0.1;
        transform: scale(1);
    }

    100% {
        opacity: 1;
        transform: scale(1.08);
    }
}

.portfolio-project-container img {
    width: 400px;
    border-radius: 100%;
    height: 400px;
    border: 2px solid #666666;
    object-fit: cover;
    object-position: center;
}

.portfolio-content-wrapper .pc-right .h1-tag {
    padding-left: 45px;
}

.portfolio-content-wrapper .pc-right .job-tag {
    margin-top: 0px;
}

.carousel-arrows-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.carousel-btn-prev,
.carousel-btn-next {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 15px;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
    z-index: 3;
}

.carousel-btn-prev img,
.carousel-btn-next img {
    width: 30px;
}

.carousel-btn-prev img {
    padding-right: 5px;
}

.carousel-btn-next img {
    padding-left: 5px;
}

.carousel-btn-prev:hover,
.carousel-btn-next:hover,
.carousel-btn-prev:focus,
.carousel-btn-next:focus {
    transform: scale(1.4);
    background-color: #0ce4867b;
}

.carousel {
    position: relative;
}

.carousel ul {
    width: 100%;
    min-height: 500px;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide::marker {
    color: #111119;
    visibility: hidden;
}

.slide[data-active] {
    opacity: 1;
    z-index: 2;
    transition-delay: 0;
}

.skills-wrapper {
    margin: 0 -45px;
}

.skill {
    min-height: 70px;
    background: #111119;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 45px;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #0ce486;
    color: #4b4b54;
    display: flex;
    justify-content: space-between;
    transition: 1.3s;
}

.skill:hover {
    background-color: #00d87a;
}

/* .skills {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 390px;
} */

.skills strong {
    color: #fff;
    font-size: 35px;
}


/*     TEST Progress Bar         */


@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #ccc;
  font-family: sans-serif;
  font-size: 18px;
}

.range,
.range2,
.range3,
.range4 {
  position: relative;
  width: 300px;
  height: 30px;
  transform: skew(30deg);
  border: 2px solid #222233;
  
  &:before {
    --width: calc(var(--p) * 1%);
    
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #0ce486;
    z-index: 0;
    
  }
  
  &:after {
    counter-reset: progress var(--p);
    content: counter(progress) '%';
    color: #111119;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%) skewX(-30deg);
    z-index: 1;
  }
  
  &__label {
    transform: skew(-30deg) translateY(-100%);
    line-height: 1.5;
  }
}

.range {
    &:before {
        animation: load .5s forwards linear, glitch 2s infinite linear;
    }
}
.range2 {
    &:before {
        animation: load .5s forwards linear, glitch 2s infinite ;
        animation-delay: 0ms, 1000ms;
    }
}

.range3 {
    &:before {
        animation: load .5s forwards linear, glitch 2s infinite linear;
        animation-delay: 0ms, 2500ms;
    }
}

.range4 {
    &:before {
        animation: load .5s forwards linear, glitch 2s infinite linear;
        animation-delay: 0ms, 800ms;
    }
}

@keyframes load {
  to {
    width: var(--width);
  }
}

@keyframes glitch {
  0%, 5% {
    transform: translate(0, 0);
  }
  1% {
    transform: translate(-5%, -10%);
  }
  2% {
    transform: translate(10%, 30%);
  }
  3%{
    transform: translate(-43%, 10%);
  }
  4% {
    transform: translate(2%, -23%);
  }
}

/* End of my skills animation */


.skills-container {
    margin-bottom: 50px;
}

.line-container {
    display: flex;
    justify-content: center;
}

.social-links-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border: 2px solid #0ce486;
    border-radius: 100%;
    font-size: 25px;
    padding: 10px;
    transition: all 0.3s;
}

.socials strong {
    font-size: 25px;
}

.instagram {
    transform: scale(1.2);
    margin-top: -20px;
}

.twitter {
    transform: scale(0.8);
    margin-top: 180px;
}

.linkedin {
    margin-top: -180px;
}

.gmail {
    margin-top: 50px;
}

.socials:hover {
    background-color: #0ce486;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.scrolled-class {
    top: 0;
}
/* 
#portfolio,
#skills{
    padding-top: 30px;
} */

.experience-container .year-container {
    display: flex;
    align-items: flex-start;
    height: 80%;
    gap: 45px;
}

.experience-container .year-container:not(:last-child) {
    padding-bottom: 70px;
}

.experience-container .year-container a {
    font-size: 12pt;
	color: white;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	border: 3px solid #0ce486;
	position: relative;
	letter-spacing: 1px;
	outline: none;
    transition: all 0.5s;
}

.experience-container .year-container a:hover {
    transform: scale(1.1);
}

.experience-container .year-container a::before {
    content: '';
	width: 20px;
	height: 20px;
	background: #111119;
	border: 3px solid #0ce486;
	transform: rotate(45deg);
	position: absolute;
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	top: -12px;
	left: -13px;
}

.experience-container .year-container a::after {
    content: '';
	width: 20px;
	height: 18px;
	background: #111119;
	border: 3px solid #0ce486;
	transform: rotate(-132deg);
	position: absolute;
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	top: auto;
	right: -13px;
	bottom: -12px;
}

.experience-text-wrapper svg {
    width: 100%;
}

.experience-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.year-link-wrapper {
    min-width: 225px;
}

.year-link-wrapper a {
    width: 100%;
    cursor: pointer;
}

.experience-job-title p {
    padding-bottom: 15px;
}

.experience-description-txt {
    border-left: 3px solid #0ce486;
    padding: 5px 0 0 20px;
}

.experience-description-txt p {
    padding-bottom: 0;
}



/* Mobile Menu */

/* .mobile-menu-container {
    display: none;
} */

.mobile-menu-container {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.ham-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
    flex-direction: column;
    background: none;
    outline: none;
    border: none;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s;
}

.ham-menu div {
    width: 50px;
    height: 3px;
    background-color: #0ce486;
    transform: skew(325deg, 0deg);
  }

.ham-menu:hover {
    animation: glitchMenu 1s linear infinite;
    animation-delay: 500ms;
}

.menu-links-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 88px;
    height: 500px;
    position: sticky;
    left: 0;
    top: 100px;
    z-index: 100;
    background: #111119;
    width: calc(100% - -40px);
    padding: 0 20px;
    margin: 0 -20px;
}

.menu-links-container a {
    padding: 8px 0;
    border: 2px solid #ff000000;
    transition: padding 0.5s;
}

.menu-links-container a:hover {
    color: #0ce486;
    border: 2px solid #0ce486;
    padding: 8px 10px 8px 30px;
    background-color: #0ce4862e;
}

.mobile-menu-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background: #111119;
}


/* Cyber BTN */

  @keyframes glitchMenu {
    0% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        transform: translate(0px,0);
    }
    2%, 8% {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 26%, 0 26%);
        clip-path: polygon(0 0, 100% 0, 100% 26%, 0 26%);
        transform: translate(-2px,0);
    }
    6% {
        -webkit-clip-path: polygon(0 39%, 100% 39%, 100% 58%, 0 58%);
        clip-path: polygon(0 39%, 100% 39%, 100% 58%, 0 58%);
        transform: translate(-22px,5px); 
    }
    8%, 65% {
        -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 91%, 0 91%);
        clip-path: polygon(0 75%, 100% 75%, 100% 91%, 0 91%);
        transform: translate(-15px,0);
    }
    12%, 24% {
        -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
        clip-path: polygon(0 90%, 100% 90%, 100% 100%, 0 100%);
        transform: translate(-6px,0);
    }

    15%, 47%, 90% {
        -webkit-clip-path: polygon(0 7%, 100% 7%, 100% 96%, 0 96%);
        clip-path: polygon(0 17%, 100% 17%, 100% 96%, 0 96%);
        transform: translate(-8px,0);
    }

  }





/* Responsive Design  */

@media (max-width: 950px) {
    .h1-tag strong {
        font-size: 50px;
    }

    .cv-container {
        width: 200px;
        height: 200px;
        min-width: none;
    }

    .cv-container img {
        width: 140%;
    }

    p {
        font-size: 18px;
    }

    .job-tag-big {
        display: none;
    }

    .job-tag-small {
        display: flex;
    }

    .portfolio-content-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pc-left, .pc-right {
        width: 100%;
    }

    .carousel ul {
        height: 60vh;
        min-height: 60vh;
    }

    .portfolio-project-container {
        width: 350px;
        height: 350px;
    }

    .portfolio-project-container img {
        width: 350px;
        height: 350px;
    }

    .skills strong {
        font-size: 25px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 20px;
    }

    .menu-container {
        width: calc(100% - -40px);
        padding: 0 20px;
        margin: 0 -20px;
    }

    .home-container {
        flex-direction: column;
        margin-top: 50px;
    }

    .hc-left, 
    .hc-right {
        width: 100%;
    }

    .hc-left {
        margin-bottom: 100px;
    }

    .line-container svg {
        width: 45%;
    }

    .divider {
        margin-top: 20px;
    }

    .portfolio-content-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pc-left, .pc-right {
        width: 100%;
    }

    .portfolio-content-wrapper .pc-right .h1-tag {
        padding-left: 40px;
    }

    .year-link-wrapper {
        min-width: 150px;
        line-height: 1.2em;
    }

    .year-link-wrapper a {
        text-align: center;
    }

    .skills-title {
        margin-bottom: 30px;
    }

    .skills-wrapper {
        margin: 0 -20px;
    }
    
    .skill {
        padding: 15px 20px;
    }

    .skills {
        font-size: 18px;
        width: 60%;
    }

    .skills-level {
        width: 40%;
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
    }

    .skills strong {
        font-size: 22px;
    }

    .range, .range2, .range3, .range4 {
        width: 200px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .menu-container {
        display: none;
    }

    .mobile-menu-container {
        display: flex;
    }

    .logo-container img {
        height: 97px;
        width: auto;
    }

    .h1-tag strong {
        font-size: 30px;
    }

    .portfolio-project-container {
        width: 250px;
        height: 250px;
        margin-bottom: 45px;
    }

    .portfolio-project-container img {
        width: 250px;
        height: 250px;
    }

    .year-container {
        flex-direction: column;
    }

    .menu-links-container {
        /* display: flex; */
    }

}

@media (max-width: 540px) {
    /* .skills-wrapper {
        display: flex;
        flex-wrap: wrap;
    } */

    .skill {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }

    .skills {
        width: 100%;
    }

    .skills {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }

    .skills-level {
        display: flex;
        justify-content: flex-start;
    }
    
    .skills-level {
        width: 100%;
    }

    .range, .range2, .range3, .range4 {
        width: 100%;
    }

    .vertical-line {
        height: 200px;
    }

    .portfolio-title {
        margin-bottom: 80px;
    }

    .carousel ul {
        /* height: 620px; */
        height: 740px;
        min-height: 100%;
    }

    .instagram {
        margin-top: 20px;
    }

    .twitter,
    .gmail {
        margin-top: 40px;
    }

    .linkedin {
        margin-top: 0;
    }

    .h1-tag strong {
        font-size: 25px;
    }

    .mobile-menu-container {
        width: calc(100% - -40px);
        padding: 0 20px;
        margin: 0 -20px;
    }


}




 